*.swo
*.swp
.DS_Store
.devutils
.ed25519-node
.git
.idea
.nyc_output
.project
Dockerfile
__MACOSX/
backup.tar
blockchain.db.gz
dapps
dist
docs
logs
node_modules
nodejs
packages/**/dist
packages/**/logs
packages/**/node_modules
public
release
rest
sftp-config.json
ssl
stacktrace*
tmp
