language: node_js
node_js:
  - '6'
sudo: required
addons:
  postgresql: "9.6"
services:
  - postgresql
  - redis-server
before_script:
  - psql -c 'create database test;' -U postgres
  - psql -c "CREATE USER test WITH PASSWORD 'test';" -U postgres
script:
  - npm run test-integration
  - npm run test-cover-unit
#cache:
#  directories:
#    - node_modules
notifications:
  slack:
    secure: KZi59NkHnpH7r40E/khsJlJPBQD346KCHbihYEX14nR0VE93p0AHSUpE8lQQoYd6WajHL/XiNa7aE/ssC4Zl3CumpznAa8ZFGOsOck2BaYqNTUQ88wtGEne3ULp/ZvvA3FffNeOiIZxU5bITU4GrU8SUxZlgOavGpa5+FjM8NIHJ+tVIkRi1oDz8947bqQpPTgM0gRTcnnPGcBwB/89U7YK34Y5VbTfPxINurPP0plJ2oMgQniDG4p54a7xYx+JKT9ywwckwCodX44+tXRs5IVIQPL0S9FpkBOqD8o7zLpZykO5qdZlzzVwB9n0TmEAqL6ddTIzbDB3dnRAefOqwstPtVyigUjOvEoXeGb1Qd1KMBiLJcXo/CgwHiAXnKfYuTakpXjiDsEHUIgFEH5vPoGNadx4k0hAXofNHoKP/M071piWFtvEJR270L7paA1cUmPCdEhFDQD5un/WB7kmagxghMGzlqd6Al89fxH30fZ7zghZgIFx5ejrOClFJ4zA23yNI9D2HNQze8zhHYOaLNpCgEr6SecYe2jl58fG28d6/M76tTE7GdKf9wzVkFWmAdULpQwyE9duIBCDDBb2Uw7buoONVEE9hArlkamL3CBSiGf/XXULfHGgWIiAvDg8IUeoGCjIXwHLjo1DYVJPMpiaarbymwPxRa3sZ66rCGL8=
